<?xml version='1.0' encoding='utf-8'?>
<widget id="dev.diogo.paulo.cordovaone" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova One</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="pndiogo@gmail.com" href="https://paulodiogo.dev">
        Paulo Diogo
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="/res/icon/android/corodova_one_round_192_xxxhdpi.png" density="xxxhdpi" />
        <icon src="/res/icon/android/corodova_one_round_144_xxhdpi.png" density="xxhdpi" />
        <icon src="/res/icon/android/corodova_one_round_96_xhdpi.png" density="xhdpi" />
        <icon src="/res/icon/android/corodova_one_round_72_hdpi.png" density="hdpi" />
        <icon src="/res/icon/android/corodova_one_round_48_mdpi.png" density="mdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
